.nav-ul li{
  display: inline-block;
  padding: 10px;
}

.nav-ul li a{
  color: #fff;
  text-decoration: none;
  padding: 7px;
}

.nav-ul{
  padding: 5px;
    background-color: #357be6;
    margin: 0;
}
.nav-right{
  text-align: right;
}

.logo {
  width: 45;
  width: 45px;
  border-radius: 50%;
  float: left;
  margin-top: 3px;
  margin-left: 8px;
}


.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: black;
  color: #fff;
}
.search-product-box{
  width:400px;
  margin:20px;
  height:40px;
  border:1px solid skyblue;
  padding-left: 20px;
}

.Signup, .product{
  margin-left: 30%;
}
.inputBox {
  display: block;
  margin: 25px;
  padding: 7px;
  width: 300px;
  border: 1px solid deepskyblue;
  /* border: 1px; */
}

/* .login{
  margin-left: 30%;
  margin-top: 100px;
} */

.appButton {
  margin: 25px;
  padding: 10px;
  width: 150px;
  background-color: blueviolet;
  border: 0;
  color: #fff;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.valid {
  color: red;
  margin-top: -20px;
  margin-left: 24px;
  font-size: smaller;
  display: block;
}

.product-list{
  text-align: center;
  margin-top: 50px;
}
.product-list ul li{
  display: inline-block;
  border: 1px solid black;
  padding: 5px;
  width: 150px;
}
.product-list ul{
  margin:0;
}

.App-link {
  color: #61dafb;
}

/* <!-- HTML !-->
<button class="button-36" role="button">Button 36</button>


<!-- HTML !-->
<button class="button-69" role="button">Button 69</button> */

/* CSS */
/* <!-- HTML !--> */
/* <button class="button-38" role="button">Button 38</button> */

/* CSS */





.button-38 {
  background-color: #3b28aa;
  border: 0;
  border-radius: 2.5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.12rem 0rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-38:hover {
  background-color: rgb(249,250,251);
}

.button-38:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-38:focus-visible {
  box-shadow: none;
}


@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}

body {
	background: linear-gradient(90deg, #C7C5F4, #837bb9);		
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
  padding: 50px;
}

.screen {		
	background: linear-gradient(90deg, #5D54A4, #7C78B8);		
	position: relative;	
	height: 600px;
	width: 360px;	
	box-shadow: 0px 0px 24px #5C5696;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #FFF;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #6C63AC;	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #5D54A4, #6A679E);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #7E7BB9;	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.login {
	width: 320px;
	padding: 30px;
	padding-top: 156px;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #7875B5;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6A679E;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}

.social-login {	
	position: absolute;
	height: 140px;
	width: 160px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	color: #fff;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #fff;
	text-decoration: none;	
	text-shadow: 0px 0px 8px #7875B5;
}

.social-login__icon:hover {
	transform: scale(1.5);	
}



.button-69 {
  background-color: initial;
  background-image: linear-gradient(#8614f8 0, #760be0 100%);
  border-radius: 5px;
  border-style: none;
  box-shadow: rgba(245, 244, 247, .25) 0 1px 1px inset;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, sans-serif;
  font-size: 16px;  
  font-weight: 500;
  height: 52px;
  line-height: 48px;
  margin-left: -4px;
  outline: 0;
  text-align: center;
  transition: all .3s cubic-bezier(.05, .03, .35, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: bottom;
  width: 125px;
  margin: 23px;
}

.button-69:hover {
  opacity: .7;
}

@media screen and (max-width: 1000px) {
  .button-69 {
    font-size: 14px;
    height: 52px;
    line-height: 48px;
    width: 125px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


